<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Loading</title>
	<script type="module" src="https://10ax.online.tableau.com/javascripts/api/tableau.embedding.3.latest.js"></script>

</head>

<body class="demo">
	Welcome
	{{username}}
	<!-- Demo content -->
	<div id="demo-content">
		<div id="loader-wrapper">
			<div id="loader">
				You have sucessfully created a JWT:
				{{CA_SSO_token}}
						<tableau-viz id="tableauViz"
      				src="{{tabServer + '/views/RedirectPage/Dashboard1.png'}}" height="600" toolbar="hidden"
        			token='{{CA_SSO_token}}'
					device="phone" toolbar="bottom" hide-tabs>
    			</tableau-viz>
			</div>
			<div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

		</div>
	Please select the lesson!
<p><a href="/lesson3_1" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-table fa-sm text-white-50"></i>Multi Viz</a>
<p><a href="/lesson3_2_1" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-table fa-sm text-white-50"></i>Static Filters</a>
<p><a href="/lesson3_2_2" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-table fa-sm text-white-50"></i>Dynamic Filters</a>
<p><a href="/lesson3_3" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-table fa-sm text-white-50"></i>Select Marks</a>
<p><a href="/lesson3_4" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-table fa-sm text-white-50"></i>Get Marks</a>



	</div>
	<!-- /Demo content -->

</body>
</html>
